@{
    ViewData["Title"] = "Chat Section";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<div class="chat-container chat-room">
    <div class="chat-box">
        <div class="chat-header">
            <h2><i class="fas fa-comment-dots"></i> Live Chat</h2>
        </div>
        <ul id="messagesList" class="messages"></ul>
        <div class="chat-input">
            <input type="text" id="messageInput" placeholder="Type your message..." />
            <button onclick="sendMessage()"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>


<link href="~/css/stylesheet.css" rel="stylesheet" />

