@{
    ViewData["Title"] = "Home Page";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<h2>Chat</h2>
<input type="text" id="userInput" placeholder="Enter Name" />
<input type="text" id="messageInput" placeholder="Enter Message" />
<button onclick="sendMessage()">Send</button>

<ul id="messagesList"></ul>

<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/site.js"></script>