@model WebApplication1.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h1>@Model.Title</h1>

<div>
    <strong>Students:</strong>
    @foreach (var student in Model.Students)
    {
            <p>@student.Name</p>
    }
</div>

<p>
    <a href="@Url.Action("Index", "Courses")" class="btn btn-primary">Back to Courses</a>
    <a href="@Url.Action("CreateOrEdit", "Courses", new { id = Model.Id })" class="btn btn-warning">Edit</a>
</p>
