@model BankingSystem.Models.TransactionModel

@{
    Layout = null;
}

<div class="py-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form asp-action="AddOrEdit" asp-route-id="@Model.TransactionId" onsubmit="return jQueryAjaxPost(this);">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger d-none" id="validation-summary"></div>

                <input type="hidden" asp-for="TransactionId" />
                <input type="hidden" asp-for="Date" />

                <div class="form-group mb-3">
                    <label asp-for="AccountNumber" class="form-label"></label>
                    <div class="input-group">
                        <input asp-for="AccountNumber" class="form-control" placeholder="Account Number" />
                    </div>
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="BeneficiaryName" class="form-label"></label>
                            <input asp-for="BeneficiaryName" class="form-control" placeholder="Beneficiary Name" />
                            <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="BankName" class="form-label"></label>
                            <input asp-for="BankName" class="form-control" placeholder="Bank Name" />
                            <span asp-validation-for="BankName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="SWIFTCode" class="form-label"></label>
                            <input asp-for="SWIFTCode" class="form-control" placeholder="SWIFT Code" />
                            <span asp-validation-for="SWIFTCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Amount" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Amount" class="form-control" placeholder="Amount" />
                            </div>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg w-50">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
